<a href="https://colab.research.google.com/github/KiykoHanna/ATOMTEX_RKS_AT_1329/blob/main/1125.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # 1125 calulating means and errors

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

In [23]:
data = pd.DataFrame(columns=['serial_number', 'coef','bg_v','activ_volum', 'N_volum', 'bg_p','activ_point', 'N_point'])

data.loc[len(data)] = [6831, 1.11, 14.6, 6390, np.mean([5720, 5800, 5750, 5740]), 13.7, 850, np.mean([463, 407, 427, 397])]
data.loc[len(data)] = [6831, 1.11, 14.6, 6390, np.mean([5720, 5800, 5750, 5740]), 13.7, 9172, np.mean([4900, 4880, 4820, 4850])]
data.loc[len(data)] = [6831, 1.11, 14.6, 6390, np.mean([5720, 5800, 5750, 5740]), 13.7, 91908, np.mean([51200, 51000, 51100, 50900])]

data

   serial_number  coef  bg_v  activ_volum  N_volum  bg_p  activ_point  N_point
0         6831.0  1.11  14.6       6390.0   5752.5  13.7        850.0    423.5
1         6831.0  1.11  14.6       6390.0   5752.5  13.7       9172.0   4862.5
2         6831.0  1.11  14.6       6390.0   5752.5  13.7      91908.0  51050.0

In [28]:
data['error_p'] = np.round(100*(data['N_point']*1.75 - data['activ_point']) / data['activ_point'])
data

,serial_number,coef,bg_v,activ_volum,N_volum,bg_p,activ_point,N_point,error_p
0,6831.0,1.11,14.6,6390.0,5752.5,13.7,850.0,423.5,-13.0
1,6831.0,1.11,14.6,6390.0,5752.5,13.7,9172.0,4862.5,-7.0
2,6831.0,1.11,14.6,6390.0,5752.5,13.7,91908.0,51050.0,-3.0