# Definition of detection limit
in order to define detection limit the following formula applies:

A = 1.65 * 2 * C/W * sqrt(M * (1/t0 + 1/tb))

In [23]:
import numpy as np
import pandas as pd

In [24]:
t_0 = 3600
t_b = 10800

In [41]:
data = pd.DataFrame(columns=['geometry', 'nuclid', 'bg_count_rate', 'C', 'weight'])
data['geometry'] = ['M-1l', 'M-1l', 'M-1l', 'M-1l', 'M-1l', 'M-1l', 'M-05l', 'M-05l', 'M-05l', 'Fl-05l', 'Fl-05l', 'Fl-05l', 'Fl-05l','Fl-01l', 'Fl-01l',  'Fl-01l', 'Fl-01l']
data['nuclid'] = ['I-131', 'Cs-134', 'Cs-137', 'K-40', 'Ra-226', 'Th232', 'Cs-134', 'Cs-137', 'K-40','I-131', 'Cs-134', 'Cs-137', 'K-40', 'I-131', 'Cs-134', 'Cs-137', 'K-40']
data['bg_count_rate'] = [6, 1.5, 2, 1.2, 0.3, 0.15, 1.5, 2, 1.2, 6, 1.5, 2, 1.2, 6, 1.5, 2, 1.2]
data['C'] = [528, 243, 220, 14.5, 54.5, 46, 148, 159, 9.3, 163, 75, 68, 4.54, 67, 31, 28, 1.72]
data['weight'] = [1, 1, 1, 1, 1, 1, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.1, 0.1, 0.1, 0.1]
data['C'] = data['C'] * 0.0001
data['A'] = 1.65 * 2 * 1/data['C'] * np.sqrt(data['bg_count_rate'] * (1/t_0) + (1/t_b))
data

   geometry  nuclid  bg_count_rate         C  weight           A
0      M-1l   I-131           6.00  0.052800     1.0    2.621470
1      M-1l  Cs-134           1.50  0.024300     1.0    3.064624
2      M-1l  Cs-137           2.00  0.022000     1.0    3.818813
3      M-1l    K-40           1.20  0.001450     1.0   46.969180
4      M-1l  Ra-226           0.30  0.005450     1.0    8.031235
5      M-1l   Th232           0.15  0.004600     1.0    8.312434
6     M-05l  Cs-134           1.50  0.014800     0.5    5.031781
7     M-05l  Cs-137           2.00  0.015900     0.5    5.283892
8     M-05l    K-40           1.20  0.000930     0.5   73.231517
9    Fl-05l   I-131           6.00  0.016300     0.5    8.491634
10   Fl-05l  Cs-134           1.50  0.007500     0.5    9.929380
11   Fl-05l  Cs-137           2.00  0.006800     0.5   12.354983
12   Fl-05l    K-40           1.20  0.000454     0.5  150.011697
13   Fl-01l   I-131           6.00  0.006700     0.1   20.658751
14   Fl-01l  Cs-134           1.50  0.003100     0.1   24.022694
15   Fl-01l  Cs-137           2.00  0.002800     0.1   30.004960
16   Fl-01l    K-40           1.20  0.000172     0.1  395.961108

In [54]:
detection_limit =  data[['geometry', 'nuclid', 'A']]
dl = pd.pivot_table(detection_limit, 
                    index='geometry',
                    columns='nuclid',
                    values='A'
                    )
dl

nuclid       Cs-134     Cs-137      I-131        K-40    Ra-226     Th232
geometry
Fl-01l    24.022694  30.004960  20.658751  395.961108       NaN       NaN
Fl-05l     9.929380  12.354983   8.491634  150.011697       NaN       NaN
M-05l      5.031781   5.283892        NaN   73.231517       NaN       NaN
M-1l       3.064624   3.818813   2.621470   46.969180  8.031235  8.312434